<%- include('./partials/header'); -%>
<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
  <div class="pcoded-wrapper">
    <div class="pcoded-content">
      <div class="pcoded-inner-content">
        <div class="main-body">
          <div class="page-wrapper">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
              <div class="page-block">
                <div class="row align-items-center">
                  <div class="col-md-12">
                    <div class="page-header-title">
                      <h5 class="m-b-10">TỔNG QUAN</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <!-- [ Main Content ] start -->
            <div class="row">
              <div class="col-md-12">
                <p style="font-size: 13px; font-weight: bold;">Trạng thái tài khoản:
                  <span style="color: brown;">
                    <% if(user.activate.account_activated == 0 && user.id_card.length == 2) {%>
                      Chờ kích hoạt
                    <%} else if (user.activate.account_activated == 0 && user.id_card.length < 2) { %>
                      Chờ cập nhật
                    <% }%>
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('./partials/footer'); -%>