<script src="/assets/vendors/js/vendor.addons.js"></script>
<script src="/assets/js/template.js"></script>
<!-- Required Js -->
<script src="/bootstrap/js/vendor-all.min.js"></script>
<script src="/bootstrap/js/plugins/bootstrap.min.js"></script>
<script src="/bootstrap/js/pcoded.min.js"></script>

<!-- prism Js -->
<script src="/bootstrap/js/plugins/prism.js"></script>
<% if(error.length> 0) {%>
    <script> toastr.warning("<%= error %>");</script>
<% }%>
</body>

</html>
