<!-- [ navigation menu ] start -->
<nav class="pcoded-navbar">
  <div class="navbar-wrapper">
    <div class="navbar-content scroll-div">
      <div class="">
        <div class="main-menu-header">
          <img class="img-radius" src="bootstrap/images/user/avatar-2.jpg" alt="User-Profile-Image">
          <div class="user-details">
            <span><%= user.fullname %></span>
          </div>
        </div>
      </div>
      <ul class="nav pcoded-inner-navbar">
        <li class="nav-item pcoded-menu-caption">
          <label>Tháo tác chính</label>
        </li>
        <li class="nav-item">
          <a href="/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span
              class="pcoded-mtext">Tổng quan</span></a>
        </li>
        <li class="nav-item pcoded-menu-caption">
          <label>Dịch vụ</label>
        </li>
        <li class="nav-item">
          <a href="recharge" class="nav-link "><span class="pcoded-micon"><i 
                class="fa fa-credit-card" aria-hidden="true"></i></span><span class="pcoded-mtext">Nạp tiền</span></a>
        </li>
        <li class="nav-item">
          <a href="withdraw" class="nav-link "><span class="pcoded-micon"><i 
                class="fa fa-credit-card" aria-hidden="true"></i></span><span class="pcoded-mtext">Rút tiền</span></a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link "><span class="pcoded-micon"><i 
                class="fa fa-credit-card" aria-hidden="true"></i></span><span class="pcoded-mtext">Chuyển tiền</span></a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link "><span class="pcoded-micon"><i 
                class="fa fa-mobile" aria-hidden="true"></i></span><span class="pcoded-mtext">Mua thẻ điện thoại</span></a>
        </li>
        <li class="nav-item">
          <a href="history" class="nav-link "><span class="pcoded-micon"><i 
                class="fa fa-history" aria-hidden="true"></i></span><span class="pcoded-mtext">Lịch sử giao dịch</span></a>
        </li>
        <li class="nav-item pcoded-menu-caption">
          <label>Thao tác khác</label>
        </li>
        <li class="nav-item">
          <a href="profile" class="nav-link "><span class="pcoded-micon"><i
                class="feather icon-user"></i></span><span class="pcoded-mtext">Thông tin cá nhân</span></a>
        </li>
        <li class="nav-item">
          <a href="/change-password" class="nav-link "><span class="pcoded-micon"><i
                class="feather icon-lock"></i></span><span class="pcoded-mtext">Đổi mật khẩu</span></a>
        </li>
        <li class="nav-item">
          <a href="/auth/logout" class="nav-link "><span class="pcoded-micon"><i
                class="feather icon-log-out"></i></span><span class="pcoded-mtext">Đăng xuất</span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- [ navigation menu ] end -->