<!-- [ navigation menu ] start -->
<nav class="pcoded-navbar">
  <div class="navbar-wrapper">
    <div class="navbar-content scroll-div">
      <div class="">
        <div class="main-menu-header">
          <img class="img-radius" src="bootstrap/images/user/avatar-2.jpg" alt="User-Profile-Image">
          <div class="user-details">
            <span>John Doe</span>
            <div id="more-details">UX Designer<i class="fa fa-chevron-down m-l-5"></i></div>
          </div>
        </div>
        <div class="collapse" id="nav-user-link">
          <ul class="list-unstyled">
            <li class="list-group-item"><a href="user-profile.html"><i class="feather icon-user m-r-5"></i>View
                Profile</a></li>
            <li class="list-group-item"><a href="/auth/logout"><i class="feather icon-log-out m-r-5"></i>Logout</a></li>
          </ul>
        </div>
      </div>
      <ul class="nav pcoded-inner-navbar">
        <li class="nav-item pcoded-menu-caption">
          <label>Home</label>
        </li>
        <li class="nav-item">
          <a href="/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span
              class="pcoded-mtext">Dashboard</span></a>
        </li>
        <li class="nav-item pcoded-menu-caption">
          <label>Service</label>
        </li>
        <li class="nav-item">
          <a href="recharge" class="nav-link "><span class="pcoded-micon"><i
                class="feather icon-file-text"></i></span><span class="pcoded-mtext">Recharge</span></a>
        </li>
        <li class="nav-item">
          <a href="withdraw" class="nav-link "><span class="pcoded-micon"><i
                class="feather icon-align-justify"></i></span><span class="pcoded-mtext">Withdraw</span></a>
        </li>
        <li class="nav-item pcoded-menu-caption">
          <label>Settings</label>
        </li>
        <li class="nav-item pcoded-hasmenu">
          <a href="#!" class="nav-link "><span class="pcoded-micon"><i class="feather icon-lock"></i></span><span
              class="pcoded-mtext">Authentication</span></a>
          <ul class="pcoded-submenu">
            <li><a href="/auth/reset-password" target="_blank">Reset password</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- [ navigation menu ] end -->