<nav class="pcoded-navbar  ">
  <div class="navbar-wrapper  ">
    <div class="navbar-content scroll-div ">
      <div class="">
        <div class="main-menu-header">
          <img class="img-radius" src="/bootstrap/images/user/avatar-2.jpg" alt="User-Profile-Image">
          <div class="user-details">
            <span><%= user.fullname %></span>
            <div style="font-size: 12px;">Số tiền: <%= user.balance %></div>
          </div>
        </div>
      </div>
      <ul class="nav pcoded-inner-navbar ">
        <li class="nav-item pcoded-menu-caption">
          <label>Thao tác chính</label>
        </li>
        <li class="nav-item">
          <a href="/../admin" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Tổng quan</span></a>
        </li>
        <li class="nav-item pcoded-hasmenu">
          <a href="#!" class="nav-link "><span class="pcoded-micon"><i class="feather icon-layout"></i></span><span
              class="pcoded-mtext">Quản lý tài khoản</span></a>
          <ul class="pcoded-submenu">
            <li><a href="/../admin/account-wait-activated" >Tài khoản chờ kích hoạt</a></li>
            <li><a href="/../admin/account-activated" >Tài khoản đã kích hoạt</a></li>
            <li><a href="/../admin/account-disable" >Tài khoản bị vô hiệu hóa</a></li>
            <li><a href="/../admin/account-blocked" >Tài khoản bị khóa</a></li>
          </ul>
        </li>
        <li class="nav-item pcoded-hasmenu">
          <a href="#!" class="nav-link "><span class="pcoded-micon"><i class="feather icon-file-text"></i></span><span
              class="pcoded-mtext">Lịch sử giao dịch</span></a>
          <ul class="pcoded-submenu">
            <li><a href="" >Lịch sử nạp tiền</a></li>
            <li><a href="" >Lịch sử rút tiền</a></li>
            <li><a href="" >Lịch sử chuyển tiền</a></li>
            <li><a href="" >Lịch sử thanh toán</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="/../admin/transaction-approval" class="nav-link "><span class="pcoded-micon"><i class="feather icon-refresh-ccw"></i></span><span class="pcoded-mtext">Phê duyệt giao dịch</span></a>
        </li>
        <li class="nav-item pcoded-menu-caption">
          <label>Thao tác người dùng</label>
        </li>
        <li class="nav-item">
          <a href="/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-layout"></i></span><span class="pcoded-mtext">Trang người dùng</span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>